---
title: Sign in
layout: login.html
---

<div class="row">

	<div class="col-xs-12 col-sm-offset-3 col-sm-6">
	    
	    <div class="panel panel-default panel-adminify">
	  		<div class="panel-heading">
	    		<h3 class="panel-title">{{ title }} - {{ site.title }}</h3>
	  		</div>
	  		
	  		<div class="panel-body">
		    	<form class="form-signin" role="form" method="get" action="dashboard.html">
		        
		        	<input type="text" class="form-control" placeholder="Email address" required="">
		        	<input type="password" class="form-control" placeholder="Password" required="">
		        	
		        	<label class="checkbox">
		          		<input type="checkbox" value="remember-me"> Remember me
		        	</label>
		        	
		        	<button class="btn btn-lg btn-primary btn-block btn-adminify" type="submit">Sign in</button>
		      	</form>
		  	</div>

		</div>            
	    
	</div>

</div>