<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{assets}}/js/bootstrap.min.js"></script>
<script src="{{assets}}/js/classie.js"></script>
<script src="{{assets}}/js/bootstrap-navigation.js"></script>
<script src="{{assets}}/js/raphael/raphael-min.js"></script>
<script src="{{assets}}/js/morris/morris-min.js"></script>
<script src="{{assets}}/js/morris/chart-data-morris.js"></script>
<script src="{{assets}}/js/tablesorter/jquery.tablesorter.js"></script>
<script src="{{assets}}/js/tablesorter/tables.js"></script>