<div class="page-header">
	<!-- Headline -->
	<h2 class="pull-left">{{#if icon}}<i class="fa fa-{{ icon }}"></i> {{/if}}{{title}} {{#if lead}}<small>{{lead}}</small>{{/if}}</h2>

	<!-- Buttons -->
	<div class="pull-right">
  
  		<a href="#" class="btn btn-primary btn-sm" role="button">Button 1</a>
  		<a href="#" class="btn btn-danger btn-sm" role="button">Button 2</a>

	</div>

	<div class="clearfix"></div>
	
	<!-- Breadcrumb -->
	<ul class="breadcrumb breadcrumb-adminify">
  		<li><i class="fa fa-home"></i> Adminify</li>
  		<li class="active">Dashboard</li>
	</ul>

	<div class="clearfix"></div>
</div>