<div class="page-header">
	<!-- Headline -->
	<h2 class="pull-left">{{#if icon}}<i class="fa fa-{{ icon }}"></i> {{/if}}{{title}} {{#if lead}}<small>{{lead}}</small>{{/if}}</h2>

	<!-- Buttons -->
	<div class="pull-right">
  
  		{{#if button}}
  			{{#each button}}
	 			<a href="#" class="btn btn-{{color}} btn-{{size}}" role="button">
	 				{{#if icon}}<span class="fa fa-{{icon}}"></span>{{/if}}
	 				{{name}}
	 			</a>
			{{/each}}
  		{{/if}}
  		
	</div>

	<div class="clearfix"></div>
	
	<!-- Breadcrumb -->
	<ul class="breadcrumb breadcrumb-adminify">
  		<li><i class="fa fa-home"></i> Adminify</li>
  		<li class="active">Dashboard</li>
	</ul>

	<div class="clearfix"></div>
</div>