<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- START partials/meta.html -->
    {{> meta }} 
    <!-- END partials/meta.html -->
  </head>
  <body>

    <!-- START partials/header.html -->
    {{> header }}
    <!-- END partials/header.html -->



    <!-- START partials/sidebar.html -->
    {{> sidebar }}
    <!-- END partials/sidebar.html -->


    <div class="container-adminify">
      <!-- START partials/page-header.html -->
      {{> page-header }}
      <!-- END partials/page-header.html -->


      {{> body }}
    </div>

    <!-- START partials/footer.html -->
    {{> footer }}
    <!-- END partials/footer.html -->
  </body>
</html>
